html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior-x: none; /* Disable Chrome two fingers back/forward swipe */
  background-color: #222222;
  color: white;
}

div#fullscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
}