body {
  margin: 0;
  background-color: dimgray;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
}

/* TODO: Apply these from higher level div instead of to each entity? */
.tile { position: absolute; width: 32; height: 32; pointer-events: none; }

.prop { position: absolute; pointer-events: none; }

.actor {
  position: absolute;
  will-change: translate;
  pointer-events: none;
}
.layer {
  width: inherit; height: inherit; 
  background-position: inherit;
  position: absolute;
}

.pathfinding {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  stroke-width: 2;
  z-index: 10000; /* line these up with ground or actor, shouldn't need this */
}

.nodeMap {
  fill: white;
  stroke: white;
}

.nodePath {
  fill: yellow;
  stroke: yellow;
}