body {
  margin: 0;
  background-color: dimgray;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
}

/* TODO: Apply these from higher level div instead of to each entity? */
.tile { position: absolute; width: 32; height: 32; pointer-events: none; }

.prop { position: absolute; pointer-events: none; }

.actor {
  position: absolute;
  will-change: translate;
  pointer-events: none;
}
.layer {
  width: inherit; height: inherit; 
  background-position: inherit;
  position: absolute;
}

#nodeMap {
  position: absolute;
  fill: black;
  stroke: white;
  stroke-width: 2;
}

#path {
  position: absolute;
  fill: yellow;
  stroke: green;
  stroke-width: 2;
}